.env
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
mentalab-venv/
venv/
.venv/

# PyInstaller
build/
dist/

# Logs
logs/
*.log

# Environment / secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db



# EEG recordings
recordings/
# EEG recordings
recordings/
